__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
build/
dist/
*.whl


.env
venv/
.venv/
.Python


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.log

.ipynb_checkpoints/
*.nbconvert.ipynb


data/raw/
data/interim/
data/tmp/
!data/processed/**          
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.feather
*.json
*.zip
*.tar.gz
*.7z
/chroma_store/
/logs
/data/reg_docs/*

*.npz
*.npy
!data/processed/*.npz       
!models/shap_topidx_v*.npz

models/*.joblib
models/*.pkl
*.pkl
models/*.pt
models/*.h5
models/*.onnx
models/*.sav
!models/lgbm_v1.joblib
!models/logreg_v1_2025-06-05.joblib
!models/params_lightgbm_v1.json
!models/shap_topidx_v1.joblib
!models/shap_topidx_v2.joblib
!models/shap_topidx_v3.joblib
!models/surrogate_lr_v1.joblib
!models/surrogate_lr_v2.joblib
!models/surrogate_top5_pipeline.joblib
!models/preprocessor_top5.joblib
!models/preprocessor.joblib
!models/vt.joblib


optuna_*.db
*.sqlite
*.db

outputs/
*.png
*.svg
*.pdf
!reports/figs/*.png         

.env
*.json.key
.env.*
*.key
*.pem
*.crt
.secret
.secrets/

.pytest_cache/
htmlcov/
.coverage
coverage.xml
*.tmp
*~

*.dvc
*.lfsconfig
data/processed/.DS_Store
