__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.Python
env/
venv/
.venv/
dist/
build/
.ipynb_checkpoints/


.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.log

*.nbconvert.ipynb

data/raw/
data/interim/
data/tmp/
!data/processed/**              


*.zip
*.tar.gz
*.7z

models/*.joblib
models/*.pkl
models/*.h5
!models/lgbm_v*.joblib
!models/surrogate_lr_v*.joblib
!models/params_lightgbm*.json
!models/shap_topidx_v*.joblib

outputs/
*.png               
*.svg
*.pdf
*.sqlite
optuna_*.db

conda-meta/
*.conda
*.lock

.env
.env.*
*.json.key
*.pem
*.crt

*.dvc
*.lfsconfig